@media (max-width: 1383px) {
    .firstTrending{
        width: 400px;
    }

    #trendingGridBox{
        justify-content: flex-start;
    }

}

@media (max-width: 1321px) {
        #listingsFlexBox{
            justify-content: space-evenly;
        }

        .listing{
            width: 500px;
        }

        #trendingGridBox{
            justify-content: center;
        }

        .firstTrending,.trending{
            width: 500px;
        }

  }

  @media (max-width: 1005px) {

    #listingTitleText{
        display: none;
    }

}

@media (max-width: 880px) {

    #footerCenter{
        display: none;
    }

}